---
# tasks file for devel
- name: Ensure Build environment is installed
  apt:
    state: latest
    update_cache: yes
    cache_valid_time: 3600
    name:
      - autoconf
      - automake
      - binutils-dev
      - bison
      - build-essential
      - cmake
      - cscope
      - doxygen
      - environment-modules
      - flex
      - gfortran
      - git
      - gitk
      - libboost-dev
      - libc6-dev
      - libcurl4-openssl-dev
      - libhwloc-dev
      - liblzma-dev
      - libnuma-dev
      - libtool-bin
      - libxml2-dev
      - llvm-dev
      - mercurial
      - numactl
      - pkg-config
      - python-dev
      - subversion
      - valgrind
  when: (ansible_facts['os_family'] == "Debian")
- name: Ensure Build environment is installed
  yum:
    state: latest
    update_cache: no
    name:
      - "@Development Tools"
      - automake
      - autoconf
      - binutils-devel
      - bison
      - boost-devel
      - cmake
      - doxygen
      - environment-modules
      - epel-release
      - flex
      - git
      - gitk
      - glibc-devel
      - hwloc-devel
      - libcurl-devel
      - libtool
      - libxml2-devel
      - llvm-devel
      - numactl-devel
      - openssl-devel
      - pkgconfig
      - subversion
      - valgrind
      - xz-devel
  when: (ansible_facts['os_family'] == "RedHat")

- name: Install some extra packages
  apt:
    state: latest
    update_cache: no
    name:
        - liblapacke-dev
        - bwm-ng
        - chrony
        - curl
        - cython
        - dkms
        - fonts-inconsolata
        - gnuplot
        - graphviz
        - htop
        - hwloc
        - iotop
        - iperf
        - ipmitool
        - krb5-config
        - libelf-dev
        - libgmpv4-dev
        - libpam-krb5
        - libreadline-dev
        - linux-tools-generic
        - nmap
        - rsync
        - screen
        - sshfs
        - stress
        - sysstat
        - tcl-dev
        - traceroute
        - tree
        - tshark
        - valkyrie
        - vite
        - wget
        - zip
  when: (ansible_facts['os_family'] == "Debian")
