User_Alias PERFORMANCEUSERS = farhanma, ltaiefh, sukkarde, gonzalea, akbudak, alonaza, abdullsm, mikhala
PERFORMANCEUSERS {{ ansible_hostname }}=/sbin/shutdown, /opt/cpu-frequency.sh, /opt/hyperthreading.sh
