User_Alias PERFORMANCEUSERS = farhanma, ltaiefh, abdelkr, gonzalea, akbudak, alonaza, abdullsm, omairyrm
PERFORMANCEUSERS {{ ansible_hostname }}=/sbin/shutdown, /sbin/reboot, /opt/cpu-frequency.sh, /opt/hyperthreading.sh, /opt/numa-balancing.sh
