---
# tasks file for env-modules
- name: Ensure NFS, AutoFS, and Environment modules are installed
  apt:
    name:
      - nfs-common
      - autofs
      - tcl
      - environment-modules
    state: present
    update_cache: yes
    cache_valid_time: 3600
  when: (ansible_facts['os_family'] == "Debian")
- name: Ensure NFS, AutoFS, and Environment modules are installed
  yum:
    name:
      - nfs-utils
      - autofs
      - environment-modules
    state: present
    update_cache: yes
  when: (ansible_facts['os_family'] == "RedHat")
- name: Copying a CLEAN auto.master
  copy:
    src: etc/auto.master
    dest: /etc/
- name: Delete old files
  file:
    path: /etc/auto.master.d/opt-share.mount
    state: absent
- name: Delete old files
  file:
    path: /etc/auto.master.d/opt-share.autofs
    state: absent
- name: Delete old files
  file:
    path: /etc/profile.d/modules-it.sh
    state: absent
- name: Copying opt-ecrc.mount
  copy:
    src: etc/auto.master.d/opt-ecrc.mount
    dest: /etc/auto.master.d/
- name: Copying opt-ecrc.autofs
  copy:
    src: etc/auto.master.d/opt-ecrc.autofs
    dest: /etc/auto.master.d/
- name: Copying sw.mount
  copy:
    src: etc/auto.master.d/sw.mount
    dest: /etc/auto.master.d/
- name: Copying sw.autofs
  copy:
    src: etc/auto.master.d/sw.autofs
    dest: /etc/auto.master.d/
  notify: "restart autofs"
- name: Copying modules-it-sw.sh
  copy:
    src: etc/profile.d/modules-it-sw.sh
    dest: /etc/profile.d
    mode: 644
- name: Copying modules-ecrc.sh
  copy:
    src: etc/profile.d/modules-ecrc.sh
    dest: /etc/profile.d
    mode: 644
- name: ECRC_DISTRO for EL7
  replace:
    path: /etc/profile.d/modules-ecrc.sh
    regexp: "ub16"
    replace: "el7"
  when: (ansible_facts['os_family'] == "RedHat")
- name: ECRC_ARCHITECTURE
  replace:
    path: /etc/profile.d/modules-ecrc.sh
    regexp: "x86_64-linux-gnu"
    replace: "{{ ansible_architecture }}-linux-gnu"
