---
# tasks file for ecrc-utils
- name: Ensure Build environment is installed
  apt:
    state: latest
    update_cache: yes
    cache_valid_time: 86400
    name:
      - bwm-ng
      - chrony
      - cscope
      - cython
      - gnuplot
      - graphviz
      - htop
      - mercurial
      - nmap
      - subversion
      - sysstat
      - traceroute
      - tree
      - tshark
      - unzip
      - vite
      - wget
      - xterm
      - zip
  when: (ansible_facts['os_family'] == "Debian")
- name: Ensure Build environment is installed
  yum:
    state: present
    update_cache: no
    name:
      - bwm-ng
      - chrony
      - cscope
      - Cython
      - gnuplot
      - graphviz
      - htop
      - mercurial
      - subversion
      - sysstat
      - tree
      - unzip
      - xterm
      - zip
  when: (ansible_facts['os_family'] == "RedHat")
